<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
<head>
	<meta name="Author" content="Cardiff University Relativity Group"/>
	<meta name="copyright" content="Copyright Cardiff University"/>
	<meta name="Description" content="Gravitational Wave Hunter Website "/>
	<meta name="keywords" content="Gravitational Wave Hunter, Relativity Group, Cardiff University, Cardiff, Wales, United Kingdom"/>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Gravitational Wave Hunter :: Home</title>

	<style type="text/css" media="all"> @import "/styles-site.css"; </style>
	<link rel="alternate stylesheet" type="text/css" media="all" title="large" href="/large.css"/>
	<link rel="alternate stylesheet" type="text/css" media="all" title="small" href="/small.css"/>
	<script type="text/javascript" src="/scripts/styleswitcher.js"></script>
        <script type="text/javascript" src="/scripts/popup.js"></script>
</head>

<body>

<div id="wrap">
<div id="header">
<span><a href="http://www.blackholehunter.org/"><img src="/images/logo2.jpg" alt="Gravitational Wave Hunter" height="62" width="626" /></a></span>
<div id="right">
Text Size: 
<a href="#" onclick="setActiveStyleSheet('small'); return false;">Small</a>
 / 
<a href="#" onclick="setActiveStyleSheet('medium'); return false;">Medium</a>
 / 
<a href="#" onclick="setActiveStyleSheet('large'); return false;">Large</a>
<br/>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.blackholehunter.org/" rel="external"><img style="border:0;width:80px;height:15px" src="/images/css.gif" alt="Valid CSS!"/></a>

<a href="http://validator.w3.org/check?uri=referer" rel="external"><img src="/images/xhtml.gif" alt="Valid XHTML 1.1" height="15" width="80" /></a>
</div>
</div>
<div id="dyktests">
<p>
<b>Did you know?</b>
</p>
<p>
Did you know that gravitational radiation, just as radio and other forms of electromagnetic radiation, are composed of just two polarizations only in a more complicated pattern?
</p>
<p>
<a href="http://www.astro.cf.ac.uk/groups/gravity/tutorial/effect_of_gravitational_waves/" title="Click for more info" rel="external"> Click for more info.</a>
</p>

</div>
<div id="contentgame"> 
<p> Thank you for playing Gravitational Wave Hunter, to play
again please select another difficulty level. While you continue to play your
high score is recorded, it is shown below. The higher your score becomes the
higher the difficulty levels available to you become. </p>
<p><b> Current score: -2</b></p>
<p> Select a difficulty level: </p> 
<form method="post" action="/cgi-bin/GWDA_game01.py"> 
<p> 
<input name="difficulty" id="a" value="1" type="radio" checked="checked"/> Beginner 
 <br /> <br />

<input name="difficulty" id="b" value="2" type="radio"/> Intermediate 
 <br /> <br />
<input name="difficulty" id="c" value="3" type="radio"/> Advanced 
 <br /> <br />
<br /> 
<input type="hidden" name="userscore" value="-2"/> 
<input type="submit" value="Go"/> 
</p> 
</form></div></div></body></html> 


