<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
<head>
	<meta name="Author" content="Gerald Davies"/>
	<meta name="copyright" content="Copyright Cardiff University"/>
	<meta name="Description" content="Gravitational Wave Hunter Website "/>
	<meta name="keywords" content="Gravitational Wave Hunter, Relativity Group, Cardiff University, Cardiff, Wales, United Kingdom"/>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Gravitational Wave Hunter :: Home</title>
	<style type="text/css" media="all"> @import "styles-site.css"; </style>
	<link rel="alternate stylesheet" type="text/css" media="all" title="large" href="large.css"/>
	<link rel="alternate stylesheet" type="text/css" media="all" title="small" href="small.css"/>
	<script type="text/javascript" src="scripts/popup.js"></script>
	<script type="text/javascript" src="scripts/styleswitcher.js"></script>
</head>

<body>

<div id="wrap">
<div id="header">
<span><a href="http://www.gravwaves.co.uk"><img src="images/logo2.jpg" alt="Gravitational Wave Hunter" height="62" width="626" /></a></span>
<div id="right">
Text Size: 
<a href="#" onclick="setActiveStyleSheet('small'); return false;">Small</a>
 / 
<a href="#" onclick="setActiveStyleSheet('medium'); return false;">Medium</a>
 / 
<a href="#" onclick="setActiveStyleSheet('large'); return false;">Large</a>
<br/>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.gravwaves.co.uk"><img style="border:0;width:80px;height:15px" src="images/css.gif" alt="Valid CSS!"/></a>
<a href="http://validator.w3.org/check?uri=referer"><img src="images/xhtml.gif" alt="Valid XHTML 1.1" height="15" width="80" /></a>
</div>
</div>

<div id="contentgame">
<p>
<b>Well done!</b>
</p>

<form action="cgi-bin/GWDA_game03.py" method="post">
<p>
That was the correct answer.
<input name="underscore" id="a" value="3" type="hidden"/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="submit" value="Continue" id="submit" type="submit"/>
</p>
</form>


<div class="didyouknow">
<p>
<b>Did you know?</b>
</p>
<p>
Did you know that gravitational radiation is responsible for the decrease (of about 10 micro seconds per year) in the orbital period of the Hulse-Taylor binary pulsar?
</p>

<p>
Think this (below) is a bad idea because it can take the user away from the game mid-game, even by opening a new tab/window:
</p>

<p>
<a href="">Some link or links associated with quote</a>
</p>
<p>
<a href="">Some link or links associated with quote</a>
</p>
</div>

<br/>

<div class="signalwrap">

<div class="signal">
<img style="width: 400px; height: 287px;" src="  ../../signalBank/sigbank25/signal1.jpg  " alt="Data with signal (if present) shown." />
<p>
<b>Data Output 1</b>
&nbsp;&nbsp;
<img style="width:35px; height:35x;" src="images/play.gif" alt="Headphones" />
</p>
</div>

<div class="signal">
<img style="width: 400px; height: 287px;" src="  ../../signalBank/sigbank51/Noise.jpg  " alt="Data with signal (if present) shown." />
<p>
<b>Data Output 2</b>
&nbsp;&nbsp;
<img style="width:35px; height:35x;" src="images/play.gif" alt="Headphones" />
</p>
</div>

<div class="signal">
<img style="width: 400px; height: 287px;" src="  ../../signalBank/sigbank72/Noise.jpg  " alt="Data with signal (if present) shown." />
<p>
<b>Data Output 3</b>
&nbsp;&nbsp;
<img style="width:35px; height:35x;" src="images/play.gif" alt="Headphones" />
</p>
</div>

<div class="signal">
<img style="width: 400px; height: 287px;" src="  ../../signalBank/sigbank70/Noise.jpg  " alt="Data with signal (if present) shown." />
<p>
<b>Data Output 4</b>
&nbsp;&nbsp;
<img style="width:35px; height:35x;" src="images/play.gif" alt="Headphones" />
</p>
</div>

</div>

</div>
</div> 
</body>

</html>
