<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1x-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
<head>
	<meta name="Author" content="Cardiff University Relativity Group"/>
	<meta name="copyright" content="Copyright Cardiff University"/>
	<meta name="Description" content="Black Hole Hunter Website "/>
	<meta name="keywords" content="Black Hole Hunter, Relativity Group, Cardiff University, Cardiff, Wales, United Kingdom"/>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Black Hole Hunter</title>

	<style type="text/css" media="all"> @import "/styles-site4.css"; </style>
	<link rel="alternate stylesheet" type="text/css" media="all" title="large" href="/large.css"/>
	<link rel="alternate stylesheet" type="text/css" media="all" title="small" href="/small.css"/>
	<script type="text/javascript" src="/scripts/styleswitcher.js"></script>
        <script type="text/javascript" src="/scripts/popup.js"></script>
</head>

<body>

<div id="wrap">
<div id="header">
<span><a href="http://www.blackholehunter.org"><img src="/images/logo2.jpg" alt="Black Hole Hunter" title="Black Hole Hunter" height="62" width="452" /></a></span>
<div id="right">
Text Size: 
<a href="#" onclick="setActiveStyleSheet('small'); return false;">Small</a>
 / 
<a href="#" onclick="setActiveStyleSheet('medium'); return false;">Medium</a>
 / 
<a href="#" onclick="setActiveStyleSheet('large'); return false;">Large</a>
<br/>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.blackholehunter.org/" rel="external"><img style="border:0;width:80px;height:15px" src="/images/css.gif" alt="Valid CSS!" title="Valid CSS!"/></a>

<a href="http://validator.w3.org/check?uri=referer" rel="external"><img src="/images/xhtml0.gif" alt="Valid XHTML 1.0" title="Valid XHTML 1.0" height="15" width="80" /></a>
</div>
</div>
<div id="sidelinks">

<ul id="sidelist">

<li>Further Reading:</li>
<li><a href="http://www.astro.cf.ac.uk/groups/gravity/research" rel="external">Overview</a></li>
<li><a href="http://www.astro.cf.ac.uk/groups/gravity/tutorial" rel="external">Tutorial</a></li>
<li><a href="http://www.astro.cf.ac.uk/groups/gravity/research/gw_sources" rel="external">Gravitational Wave Sources</a></li>
<li><a href="http://www.astro.cf.ac.uk/groups/gravity/research/gw_searches" rel="external">Gravitational Wave Searches</a></li>


<li><hr/></li>

<li>
Black Hole Hunter game was developed as a part of the Royal Society
Summer Exhibition 2008, <i>Can you hear black holes collide?</i>
presented by Cardiff University, Universities of Birmingham, Glasgow
and Southampton in the UK in collaboration with the Albert Einstein
Institute and Milde Marketing in Germany.<br/>
<br/>
Copyright &copy; Cardiff University
</li>

<li><hr/></li>

<li>
<img src="/images/logos2go/GWDA_logos_vert_final.jpg" alt="" title="" height="392" width="222" id="maps" usemap="#links" />
<map id="links" name="links">
<area shape="rect" coords="2,3,116,116" alt="Cardiff University" title="Cardiff University" href="http://www.cardiff.ac.uk" />
<area shape="rect" coords="120,3,220,114" alt="Albert Einstein Institute" title="Albert Einstein Institute" href="http://www.aei.mpg.de/english/contemporaryIssues/home/index.html" />
<area shape="rect" coords="3,119,220,179" alt="University of Glasgow" title="University of Glasgow" href="http://www.gla.ac.uk" />
<area shape="rect" coords="2,183,220,235" alt="University of Birmingham" title="University of Birmingham" href="http://www.bham.ac.uk" />
<area shape="rect" coords="3,240,220,289" alt="University of Southampton" title="University of Southampton" href="http://www.soton.ac.uk" />
<area shape="rect" coords="3,294,221,347" alt="Science and Technology Facilities Council" title="Science and Technology Facilities Council" href="http://www.scitech.ac.uk" />
<area shape="rect" coords="3,351,220,390" alt="Milde Marketing" title="Milde Marketing" href="http://www.milde-marketing.de" />
</map>
</li>

</ul>
</div>
<div id="content"> 

<p>
<img class="float" title="Two merging black holes" src="/images/main_wav2.jpg" width="200" height="209" alt="Two merging black holes"/>
</p> 
<p><b> Game Over! </b></p> 
 <p> I'm sorry, you have run out of lives. Your final score is displayed below. Thank you for playing Black
Hole Hunter, we hope you enjoyed it.</p><p><b> Your final score: 4</b></p>
<p> Please tell your friends and spread the word about black hole hunting. </p>
<form method="get" action="/index.html">
<p> <input type="submit" value="Restart/Quit"/>

</p>
</form>
</div>
</div>
</body>

</html>


