<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1x-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
<head>
	<meta name="Author" content="Cardiff University Relativity Group"/>
	<meta name="copyright" content="Copyright Cardiff University"/>
	<meta name="Description" content="Black Hole Hunter Website "/>
	<meta name="keywords" content="Black Hole Hunter, Relativity Group, Cardiff University, Cardiff, Wales, United Kingdom"/>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Black Hole Hunter</title>

	<style type="text/css" media="all"> @import "/styles-site4.css"; </style>
	<link rel="alternate stylesheet" type="text/css" media="all" title="large" href="/large.css"/>
	<link rel="alternate stylesheet" type="text/css" media="all" title="small" href="/small.css"/>
	<script type="text/javascript" src="/scripts/styleswitcher.js"></script>
        <script type="text/javascript" src="/scripts/popup.js"></script>
<script type="text/javascript" src="/soundmanager/script/soundmanager2-nodebug-jsmin.js"></script>
<script type="text/javascript">

soundManager.url = '/soundmanager/soundmanager2.swf'; // override default SWF url
soundManager.debugMode = true;
soundManager.consoleOnly = false;

soundManager.onload = function() {
  // soundManager is initialised, ready to use. Create a sound for this demo page.
 soundManager.createSound({
  id:'signal',
  url: ' /mp3signalBankglitches/sigbank47/noise4glitch.mp3 '
 });
 soundManager.createSound({
  id:'sound0',
  url: ' /mp3signalBankglitches/sigbank47/noise4glitch.mp3 '
 });
 soundManager.createSound({
  id:'sound1',
  url: ' /mp3signalBankglitches/sigbank20/data4.mp3 '
 });
 soundManager.createSound({
  id:'sound2',
  url: ' /mp3signalBankglitches/sigbank61/noise.mp3 '
 });
 soundManager.createSound({
  id:'sound3',
  url: ' /mp3signalBankglitches/sigbank62/noise4glitch.mp3 '
 });
}
</script>

</head>

<body>

<div id="wrap">
<div id="header">
<span><a href="http://www.blackholehunter.org"><img src="/images/logo2.jpg" alt="Black Hole Hunter" title="Black Hole Hunter" height="62" width="452" /></a></span>
<div id="right">
Text Size: 
<a href="#" onclick="setActiveStyleSheet('small'); return false;">Small</a>
 / 
<a href="#" onclick="setActiveStyleSheet('medium'); return false;">Medium</a>
 / 

<a href="#" onclick="setActiveStyleSheet('large'); return false;">Large</a>
<br/>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.blackholehunter.org/" rel="external"><img style="border:0;width:80px;height:15px" src="/images/css.gif" alt="Valid CSS!" title="Valid CSS!"/></a>

<a href="http://validator.w3.org/check?uri=referer" rel="external"><img src="/images/xhtml0.gif" alt="Valid XHTML 1.0" title="Valid XHTML 1.0" height="15" width="80" /></a>
</div>
</div>
<div id="contentgame"> 
<p><b> 
 I'm sorry  
 </b></p> 
<p> 
 That was the wrong answer. </p> 
<p><b> Current score: 4

&nbsp;&nbsp;&nbsp;&nbsp;
Current lives: 0</b></p>
<form method="post" action="/cgi-bin/GWDA_game/GWDA_game01.py"> 
<p> 
<input type="hidden" name="quotetext" value="When a black hole binary merges, the resulting black hole would be imparted with a kick that is so large that it could escape from the host galaxy." /> 
<input type="hidden" name="quotelink" value="http://www.astro.cf.ac.uk/groups/gravity/tutorial/black_hole_collisions/" /> 
<input type="hidden" name="userscore" value=" 4 "/>
<input type="hidden" name="difficulty" value=" 4 "/>
<input type="hidden" name="numplays" value=" 5 "/>
<input type="hidden" name="numlives" value=" 0 "/>
<input type="submit" value="Click for your final score. "/> 
</p> 
</form> 
<br /> 
<div class="didyouknow">
<p>

<b>Did you know?</b>
</p>
<p>
When a black hole binary merges, the resulting black hole would be imparted with a kick that is so large that it could escape from the host galaxy.
</p>
<p>
<a href="http://www.astro.cf.ac.uk/groups/gravity/tutorial/black_hole_collisions/" title="Click for more info" rel="external"> Click for more info.</a>
</p>
</div>
<div class = "signal"> 
<img onclick="soundManager.play('sound0')" style="width: 380px; height: 274px;" src="  /mp3signalBankglitches/sigbank47/noise4glitch.jpg  " alt="Data with signal (if present) shown." title="Data with signal (if present) shown." /> 
<p> 
 <b>Data Stream 1</b>

</p>
</div>
<div class = "signal"> 
<img onclick="soundManager.play('sound1')" style="width: 380px; height: 274px;" src="  /mp3signalBankglitches/sigbank20/signal4.jpg  " alt="Data with signal (if present) shown." title="Data with signal (if present) shown."/> 
<p> 
 <b>Data Stream 2</b>
</p>
</div>
<div class = "signal"> 
<img onclick="soundManager.play('sound2')" style="width: 380px; height: 274px;" src="  /mp3signalBankglitches/sigbank61/noise.jpg  " alt="Data with signal (if present) shown." title="Data with signal (if present) shown."/> 
<p> 
 <b>Data Stream 3</b>
</p>
</div>
<div class = "signal"> 

<img onclick="soundManager.play('sound3')" style="width: 380px; height: 274px;" src="  /mp3signalBankglitches/sigbank62/noise4glitch.jpg  " alt="Data with signal (if present) shown." title="Data with signal (if present) shown."/> 
<p> 
 <b>Data Stream 4</b>
</p>
</div>

</div>
</div>
</body>

</html>

